html {
  background-color: rgb(188, 187, 187);
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-height: 100%;
}

.calculadora {
  width: 300px;
  height: 400px;
  background-color: black;
  padding: 10px;
  border-radius: 30px;
  margin: 20% auto;
  margin-top: 8%;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
}
.tela input {
  width: 222px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid beige;
  margin: 18px;
  background-color: rgb(255, 255, 255);
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
}

.num_opera {
  padding-top: 2px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  overflow: hidden;
  height: 290px;
}

.num {
  width: 55px;
  height: 55px;
  margin: 2px;
}
.taa {
  position: absolute;
  font-size: 20px;
  width: 55px;
  height: 112px;
  right: 2px;
  bottom: 0;
}
.ta1 {
  position: absolute;
  font-size: 20px;
  width: 85px;
  height: 55px;
  bottom: -1px;
  left: 0.5%;
}
.ta {
  position: absolute;
  font-size: 20px;
  width: 90px;
  height: 55px;
  bottom: -1px;
  left: 27.5%;
}

button {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: translateY(-3px) scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  background-color: #6d7d6e;
}

@media screen and (max-width: 600px) {
  .calculadora {
    width: 300px;
    margin-top: 12%;
    margin: 20px auto;
  }

  .tela input {
    width: 75%;
    margin: 15px;
  }
}

button {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: translateY(-3px) scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  background-color: #6d7d6e;
}

.menu {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  border: 2px solid #4caf50;
  border-radius: 10px;
  background-color: #f4f4f9;
  max-width: 400px;
  height: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu h1 {
  color: #4caf50;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.menu h2 {
  color: #333333;
  font-size: 1.8em;
  margin-top: 15px;
}

.menu p {
  color: #555555;
  font-size: 1em;
  line-height: 1.5;
  margin: 10px 0;
}

.menu h2:last-child {
  margin-top: 20px;
  color: #4caf50;
  font-weight: bold;
}

#fechar {
  margin-right: -320px;
  width: 30px;
  height: 30px;
}
